* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik Vinyl", serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(bilder/galakse.jpg);
    background-size: cover;
}

.forside {
    background-image: url(bilder/bakgrunn.avif);
    background-size: cover;
}


#forside {
    border: 2px solid white;
    border-radius: 15px;
    width: 500px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 30px;
    background-color: rgba(0.5, 0.5, 0.5,0.5);
}

h1 {
    font-size: 60px;
    color: white;
}

#start {
    border: 2px solid white;
    border-radius: 15px;
    padding: 10px;
    font-size: 40px;
    background-color: pink;
    color: black;

}

#start:hover {
    background-color: palevioletred;
    color: white;
    transition: 0.25s;
}

a {
    text-decoration: none;
}

section {
    display: flex;
    flex-direction: row;
}

aside {
    margin: 20px;
    height: 50px;
    padding: 5px;
    border: 2px solid white;
    border-radius: 5px;
    background-color: pink;
    font-size: 25px;
    color: black;
}

aside:hover {
    transition: 0.25s;
    background-color: palevioletred;
    color: white;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid white;
    border-radius: 10px;
    margin: 20px;
    padding-bottom: 10px;
    background-color: rgba(0.5, 0.5, 0.5,0.5);
}

.gridContainer{
    display:grid;
    justify-content: center;
    grid-template-columns: 175px 175px 175px;
    grid-template-rows: 175px 175px 175px;
    text-align: center;
    padding: 30px;
    padding-bottom: 40px;
    border-radius: 10px;
    gap: 20px;
}
.gridContainer > div {
    border: 2px solid black;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 110px;
    font-weight: bold;
    color: hotpink;
    
}

.nedreContainer{
    grid-column: 1/4;
    display: flex;
    flex-direction: column;
}

.infoContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
button {
    height: 40px;
    border: 2px solid white;
    border-radius: 5px;
    background-color: pink;
    font-size: 25px;    
}

button:hover {
    transition: 0.25s;
    background-color: palevioletred;
    color: white;
}

.omstart {
    display: flex;
}



